<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<!-- Lọc tất cả các URL -->
		

		<mvc:interceptor>
			<mvc:mapping path="/vote/**"/>
			<mvc:mapping path="/select/**"/>
			<mvc:mapping path="/topic/**"/>
			<mvc:mapping path="/manager.htm"/>
			<mvc:mapping path="/changepassword.htm"/>
			<mvc:mapping path="/user/**"/>
			<bean class="vote.interceptor.LoggerInterceptor" />
	</mvc:interceptor>
	<mvc:interceptor>
			<!-- <mvc:mapping path="/admin.htm"/> -->
			<mvc:mapping path="/topicmanager.htm"/>
			<mvc:mapping path="/usermanager.htm"/>
			<mvc:mapping path="/tagmanager.htm"/>
			<mvc:mapping path="/admin/**"/>
			<mvc:mapping path="/tag/**"/>
			<mvc:mapping path="/adminInsertTag.htm"/>
			<bean class="vote.interceptor.AdminInterceptor" />
	</mvc:interceptor>
	<mvc:interceptor>
			<mvc:mapping path="/manager.htm"/>
			<bean class="vote.interceptor.AdminSubInterceptor" />
	</mvc:interceptor>
	</mvc:interceptors>

</beans>